body {
    background-color: #F1EEF9;
}
header {
    background-color: #DDD8F7;
    border-radius: 24px;
    margin: 16px;
    padding: 20px
}
h2 {
    background-color: #FAFAFC;
    border-radius: 24px;
    margin: 16px;
    padding: 20px;
}
